@using System.Text
@using System.Web
@using Demolite.Cv.Db.Models
@using Demolite.Cv.Interfaces.Repositories

@inherits AbstractLocalizedDisplay

<PageTitle>@Name</PageTitle>

<Stack Class="w-50 mobile-90 mb-4">
    <Stack Row="true" Class="w-100 align-items-center justify-content-evenly mb-4 mt-2">
        <div class="image-wrapper">
            <div class="image-container">
                <img class="image" src="img/photos/cv.jpg" alt="Photo of Applicant"/>
            </div>
        </div>
        <Stack Row="true" class="w-100 justify-content-evenly mobile-90 stack-flat medium-90">
            <Stack Class="w-50 mobile-90">
                <div class="tp-mainheading">
                    @Name
                </div>
                <div class="tp-subheading">
                    CURRICULUM&nbsp;VITAE
                </div>
            </Stack>
            <Stack Class="w-50 mobile-90 medium-90 gap-4">
                <div class="d-flex flex-row align-items-center gap-2">
                    <MudIcon Icon="@Icons.Material.Outlined.LocationOn" Class="h-100" Size="Size.Large"/>
                    <div class="tp-content">
                        @Address
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center gap-2">
                    <MudIcon Icon="@Icons.Material.Outlined.Mail" Class="h-100" Size="Size.Large"/>
                    <div class="tp-content">
                        <a href="@MailLink()">
                            @Profile?.Mail
                        </a>
                    </div>
                </div>
            </Stack>
        </Stack>
    </Stack>
    <MudExpansionPanels Class="w-100 border-blue" Elevation="0" Dense="true" MultiExpansion="true">
        <MudExpansionPanel Text="@AboutHeader">
            <div class="tp-content">
                @About
            </div>
        </MudExpansionPanel>
        <MudExpansionPanel Text="@InterestsHeader">
            <div class="tp-content pb-3">
                @Hobbies
            </div>
        </MudExpansionPanel>
    </MudExpansionPanels>
</Stack>

@code {

    [Inject]
    public IDbRepository<Profile> ProfileRepository { get; set; } = null!;

    private Profile? Profile { get; set; }

    private string MailLink()
    {
        if (Profile is null)
            return string.Empty;

        var sb = new StringBuilder();

        sb.Append("mailto://");
        sb.Append(HttpUtility.UrlEncode(Profile.Mail));

        return sb.ToString();
    }

    private MarkupString Name => Profile is null ? (MarkupString)string.Empty : (MarkupString)Profile.Name;

    private MarkupString Address => Profile is null ? (MarkupString)string.Empty : (MarkupString)Profile.Address;

    private string About => Profile is null ? string.Empty : LocalizeProperty(Profile, x => x.About);

    private string AboutHeader => IsGerman ? "Über mich" : "About me";

    private string InterestsHeader => IsGerman ? "Interessen & Hobbies" : "Interests & Hobbies";
    
    private string Hobbies => Profile is null ? string.Empty : LocalizeProperty(Profile, x => x.Hobbies);

    protected override async Task OnInitializedAsync()
    {
        Profile = (await ProfileRepository.GetAll()).FirstOrDefault();
    }

}